#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.classes{
  @apply text-xl m-2  
}
.class{
  @apply text-blue-500 hover:underline
}
.main{
  margin: 1.25rem;
  height: 45.5rem;
  padding: 20px;
  border: 8px solid rgba(145, 63, 1, 0.483); 
  background-color:rgba(145, 63, 1, 0.483);
  
}
.mainMelee{
  margin: 1.25rem;
  border: 8px solid rgba(145, 63, 1, 0.483);
  height: 150vh;
  padding: 20px;
  background-color:rgba(145, 63, 1, 0.483);
}