#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main{
  margin: 1.25rem;
  min-height: 45.5rem;
  max-height: 120vh;
  padding: 20px;
  border: 8px solid #7d7466;
  background-color:#15171f;
  animation: fadeIn 500ms ease-in-out;
  
}

.Home{
  margin: 1.25rem;
  height: 100vh;
  padding: 20px;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
      filter: blur(30px);
  }
  100% {
      opacity: 1;
      filter: blur(0px);
  }
}
